extends _layout

block contents
  section(id="main")
    h1 メッセージを変更
    form(action="/update/" + msg._id method="POST" encType="multipart/form-data")
      input(type="hidden" name="_csrf" value=csrf)
      textarea(placeholder="メッセージ" name="message" id="textarea-message") #{msg.message}
      input(type="file" name="image" id="input-file")
      button(type="submit" id="submit-button") 送信