extends _layout

block contents
  section(id="main")
    h1 メッセージを投稿
    form(action="new" method="POST" encType="multipart/form-data")
      input(type="hidden" name="_csrf" value=csrf)
      textarea(placeholder="メッセージ" name="message" id="textarea-message")
      input(type="file" name="image" id="input-file")
      button(type="submit" id="submit-button") 送信