nav(id="menu_bar")
  if user
    a(href="#" class="item")
      span(class="material-icons person") person
    a(href="#" class="item")
      span(class="material-icons textsms") textsms
    a(href="#" class="item")
      span(class="material-icons person_add") person_add_alt_1
    a(href="#" class="item")
      span(class="material-icons logout") logout
    a(href="#" class="item")
      span(class="material-icons setting") settings

  else
    a(href="/oauth/twitter")
      span(class="nav_item") ログイン
